.btn {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 16px;
  line-height: 24px;
  cursor: pointer;
  transition: var(--animation);
  text-transform: capitalize;
}

.btn:disabled {
  cursor: not-allowed;
  color: var(--color-grey);
  background-color: rgba(0, 0, 0, 0.05);
}

.btn:not(:disabled):hover {
  transform: translateY(-1px);
  box-shadow: var(--shadow);
}

.btn:not(:disabled):active {
  transform: translateY(1px);
}

.btn--primary:not(:disabled) {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.btn--secondary:not(:disabled) {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.btn-small {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: var(--animation);
}

.btn-small:disabled {
  cursor: not-allowed;
  color: var(--color-grey);
}

.btn-small:not(:disabled):hover,
.btn-small:not(:disabled):active {
  box-shadow: var(--shadow);
}
